<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>

</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<main>
    <h2>Choose course:</h2>


    <form method="POST">
        <ul style="list-style-type:none">
            <li th:each="course : ${courses}">
                <input type="radio" th:name="courseId" th:value="${course.getCourseId()}" required/> <label th:text="${course.getName()}"></label>
                <a th:href="@{/courses/delete/{id}(id=${course.getCourseId()})}">Delete Course</a>
            </li>
        </ul>

        <br/>
        <button type="submit">Submit</button>
    </form>
</main>
</body>
</html>