<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>WP lab - Students in Course</title>

</head>
<body>
<header>
    <h1>Students in Course </h1>
</header>
<section>
    <div th:text="${course.getName()}"></div>
    <ul style="list-style-type:none">
        <li th:each="student:${course.getStudentsInCourse()}" th:text="${student.getName() + ' (' + student.getUsername() + ')' + 'Grade: ' + student.getGrades(course.getName())}">

        </li>

    </ul>
    <a href="/listCourses">Back</a> <br>
    <a href="/AddStudent">Add another</a>
</section>

</body>
</html>